@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #0f0f0f;

  font-synthesis: none;
  text-rendering: geometricPrecision;
}

.dark {
  --background: #0f0f0f;
  --foreground: #f9f9f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-overused-gr), Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}
